.modal {
    overflow: hidden;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-header h4 {
    margin: 0;
}

.modal-content {
    height: auto !important;
    max-height: calc(100vh - 340px) !important;
}

.content-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.content-row:last-child {
    border-bottom: none;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #33b5e5;
    color: #fff;
}

.name {
    padding: 0 10px;
}

.role {
    padding: 0 10px;
    flex: 1;
    text-align: right;
}